html {
    position: relative;
    min-height: 100%;
}

.all {
   background-color: rgb(235, 235, 235);
}

.banner {
    height: 75px;
    margin: -10px -10px 10px;
    background-color: rgb(62, 88, 100);
    border-radius: 2px;
}

.banner h2{
    text-align: center;
    color: white;
    margin-left: 2%;
    padding-top: 2px;
    font-size: 250%;
    display: inline-block;
    font-family: 'Alegreya Sans', sans-serif;

}

.banner Img{
   position=relative;
   float: right;
   height: 50%;
   padding-top: 0.8%;
   padding-right: 1%;
}

.banner > div{
    display: inline-block;
    vertical-align: middle;
}

.first-button, .second-button {
   background-color: rgb(102, 128, 140);
   margin-bottom: 1%;
}

.first-button {
    margin-left: 40%;
    margin-right: 3%;
}

.title {
    position: absolute;
    bottom: 90%;
    right: 30%;
    text-align: center;
    color: black;
    padding-left: 1%;
    padding-right: 1%;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 200%;
}

#bar_chart, #US_map {
    margin-top: 1%;
    border:1px solid black;
    position: relative;
}

#bar_chart {
   margin-left: 5%;
}

#US_map {
    margin-right: 5%;
}

.row {
    background-color: rgb(0,0,0,0);
}

.containBar {
    position: relative;

}

#spacing {
    background-color: rgb(235,235,235);
    height: 500px;
}

.footer {
   background-image: linear-gradient(rgb(235, 235, 235) ,white);
   position: absolute;
   left: 0;
   bottom: 0;
   height: 100px;
   width: 100%;
   overflow: hidden;
}

.footer h2{
  float: right;
  font-size: 100%;

  font-family: 'Raleway', sans-serif;
  padding-right: 1%;
}


/*
background-image: linear-gradient(red, yellow);
*/
