#pie-div, #bar-div {
    background-color: white;
    border:1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-bottom: 2vh;
    padding-left: 2vh;
}

#pie-div, #bar-div h3 {
    color: black;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}


#tab2-graphs {
    margin-top: 2.5vh;
}

#tab2-graphs h3 {
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
}

#text-test {

}