.jumbo p{
    font-size: 1.5vh;
    font-family: 'Raleway', sans-serif;
}

.jumbo {
    margin-top:100;
    font-family: 'Raleway', sans-serif;
}

#title2-text {

    text-align: center;
    background-color: green;
    padding-bottom:2vh;
    padding-top:2vh;
}

#card-text {
    font-size: 2vh;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

#card-container {
    display: flex;
    width: 95%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#second-title {
    text-align: center;
    font-size: 4vh;
}

#third-title {
font-size: 4vh;
}

#card-container {
    margin-top: 2.75vh;

}

#title2-button {
    background-color: rgb(36,160,237);
    border-radius: 5px;
    color: white;
    font-size: 1.5vh;
    height: 4vh;

}

#about-sub {
    text-align: center;
}

#gh_logo {
    height: auto;
    width: 10vh;
    margin-top: 2vh;
}
