#tabs-example {
    margin-bottom: 1%;
    margin-left: -10px;
    margin-right: -10px;
    font-size: 150%;
    font-family: 'Alegreya Sans', sans-serif;
}


#testH3 {
    height: 100px;
    background-color: green;
}

#parentContainer {
    display: flex;
    background-color: yellow;
    justify-content: center;
    align-items: center;
}

#tab2Container {
    background-color: red;
    padding: 1vh;
    height: 100%;

}

